{% extends 'layout.html' %}


{% block content %}

<div class="text-center mt-5 mb-5">
    <h1>Sobre Nosotros</h1>
    <p class="mt-3">No hay mucho que contar sobre nosotros en realidad, pero si le interesa saber, somos un grupo de entusiastas del mundo del desarrollo de software.
        Que tiene como cometido principal, experimentar en todo tipo de aplicaciones de dudosa utilidad social como es el caso de esta apliación.
        Dicho esto, lo principal que debe saber, es que nos divertimos mucho creando esta webapp, esperemos que usted también pueda disfrutarla responsablemente.
        Recuerde que si tiene problemas de adicción con el juego, no es nuestro problema, no nos use como excusa para justificar su adicción.
        ¡Que tenga buen día!
    </p>
</div>

<div class="text-center">
<h4 class="mt-5">Este proyecto fue desarrollado con amor mediante las siguientes tecnologías Open Source:</h4>
</div>

<div class="card-group mt-3 text-center pb-5">

    <div class="card ms-2 p-4">
      <img src="../static/img/Python.png" class="card-img-top" alt="Python Logo">
      <div class="card-body">
        <h6 class="card-title">Python</h6>
      </div>
    </div>

    <div class="card ms-2 p-4">
      <img src="../static/img/Flask.png" class="card-img-top" alt="Flask Logo">
      <div class="card-body">
        <h6 class="card-title">Flask</h6>
      </div>
    </div>

    <div class="card ms-2 p-4">
      <img src="../static/img/Postgresql.png" class="card-img-top" alt="PostgreSQL Logo">
      <div class="card-body">
        <h6 class="card-title">PostgreSQL</h6>
      </div>
    </div>

    <div class="card ms-2 p-4">
      <img src="../static/img/HTML5.png" class="card-img-top" alt="HTML5 Logo">
      <div class="card-body">
        <h6 class="card-title">HTML5</h6>
      </div>
    </div>

    <div class="card ms-2 p-4">
        <img src="../static/img/CSS.png" class="card-img-top" alt="CSS Logo">
        <div class="card-body">
          <h6 class="card-title">CSS</h6>
        </div>
      </div>

      <div class="card ms-2 p-4">
        <img src="../static/img/Bootstrap.png" class="card-img-top" alt="Bootstrap Logo">
        <div class="card-body">
          <h6 class="card-title">Bootstrap</h6>
        </div>
      </div>


  </div>

{% endblock %}